doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Message
        link(rel='stylesheet', href='/public/styles/global.css')
    body 
        div(class = 'container', id = 'main')
            h4(class = 'content') content
            h3.sendTo  sendTo <strong>Sir</strong
        div 
            p#main hi there 
        div 
            p alaa    
            p 
                | i love jojo 
                | and dodo
            p breadan 
        div 
            p sir is a nice person

        form(action="") 
            h2.contentTitle contact Me 
            input(class='f-c' ,type="text", name='user', placeholder='contact me')
            input(class='f-c' ,type="email", name='email',placeholder='contact@dd.com')
            input(class='f-c' ,type="text", name='subject', placeholder='contact me')
            button(style='background-color:red; color:white') Send 
            button Reset
        script(src='')    



