<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Message</title>
    <link rel="stylesheet" href="/public/styles/global.css">
  </head>
  <body> 
    <div class="container" id="main">
      <h4 class="content">content</h4>
      <h3 class="sendTo"> sendTo <strong>Sir</strong</h3>
    </div>
    <div> 
      <p id="main">hi there </p>
    </div>
    <div> 
      <p>alaa    </p>
      <p>
         i love jojo 
        and dodo
      </p>
      <p>breadan </p>
    </div>
    <div> 
      <p>sir is a nice person</p>
    </div>
    <form action=""> 
      <h2 class="contentTitle">contact Me </h2>
      <input class="f-c" type="text" name="user" placeholder="contact me">
      <input class="f-c" type="email" name="email" placeholder="contact@dd.com">
      <input class="f-c" type="text" name="subject" placeholder="contact me">
      <button style="background-color:red; color:white">Send </button>
      <button>Reset</button>
    </form>
    <script src="">   </script>
  </body>
</html>